!.devcontainer/README.md
!.devcontainer/recommended-devcontainer.json
!.devcontainer/recommended-Dockerfile
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.bazelrc.user
.build-analytics
.c9
.c9/
.classpath
.devcontainer/*
.DS_Store
.DS_STORE
.history
.history/*
.husky/_
.idea/
.ng-dev.user*
.notes.md
.nvimrc
.project
.sass-cache/
.settings/
.vimrc
.vscode/*
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
*.launch
*.log
*.sublime-workspace
*.swo
*.swp
*secret.js
/.angular/cache
/bazel-out
/connect.lock
/coverage
/dist
/dist/
/integration/bazel/bazel-*
/libpeerconnection.log
/modules/rollup-test/dist/
/node_modules
/out-tsc
/tmp
/typings
baseline.json
modules/.settings
modules/.vscode
month.txt
node_modules
npm-debug.log
pubspec.lock
testem.log
Thumbs.db
yarn-error.log
