<!--
<div>
  <div class="count_down_timer">{{daysToTargetDate}} DAYS</div>
  <div class="count_down_timer">{{hoursToTargetDate | leftZeroPad}}:{{minutesToTargetDate | leftZeroPad}}:{{secondsToTargetDate | leftZeroPad}} </div>
</div>

-->

<div>
  <div id="container">
    <div class="product-details">
      <h1>WONDERLAND HALLOWEEN</h1>
      <p class="information">Preparaos para el concierto mas espeluznante del año <br>
        haced click en el boton para uniros a la instancia o uniros al discord para mas informacion</p>
      <div class="control">
        <a href="https://www.youtube.com/watch?v=EeRFOVMf7rE">
          <button class="btn">
            <span class="buy">UNIRSE A LA INSTANCIA</span>
          </button>
        </a>
      </div>
    </div>
    <div class="card-image">
      <img src="../../assets/images/FlyerHalloween.png" alt="">
    </div>
  </div>
</div>
